<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
        <customErrors mode="Off"/>
	</system.web>
	<appSettings>
		<add key="cs" value="Server=BRH-DBX04.BDMS.CO.TH; database=AtWork; uid=sa; pwd=P@ssw0rd"/>
        <add key="pathPhoto" value="http://10.121.10.7/@WorkPhoto/"/>
        
        <add key="csCenterBRH" value="Server=BRH-DBX01.BDMS.CO.TH; database=CENTER_DB; uid=sa; pwd=P@ssw0rd"/>
        <add key="csCenterBTH" value="Server=10.122.10.12; database=CENTER_DB; uid=sa; pwd=sa"/>
        <add key="csCenterBCH" value="Server=192.168.12.27; database=CENTER_DB; uid=sa; pwd=sa"/>
        <add key="csCenterBPH" value="Server=192.168.16.246; database=CENTER_DB; uid=sa; pwd="/>
        <add key="csCenterBPL" value="Server=10.153.10.10; database=CENTER_DB; uid=sa; pwd=P@ssw0rd"/>
	</appSettings>
</configuration>
